In [1]:
#importing libraries
import pandas as pd
import dfply as ply
import seaborn as sns
import matplotlib.pyplot as ply
%matplotlib inline

In [6]:
#setting display options for pandas
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [9]:
#importing the data 
df_char = pd.read_csv('/Users/ariafredman/Documents/data_science/data/star_wars_info_data/characters.csv')
df_planet = pd.read_csv('/Users/ariafredman/Documents/data_science/data/star_wars_info_data/planets.csv')
df_spec = pd.read_csv('/Users/ariafredman/Documents/data_science/data/star_wars_info_data/species.csv')
df_ships = pd.read_csv('/Users/ariafredman/Documents/data_science/data/star_wars_info_data/starships.csv')
df_vcl = pd.read_csv('/Users/ariafredman/Documents/data_science/data/star_wars_info_data/vehicles.csv')

In [30]:
#looking at the SW character data

#column names look like they don't require any cleaning
print("Character dataframe column names: \n"
      , df_char.columns)

#First 5 rows of the dataframe
print("\n\nFirst 5 rows of character dataframe: \n",
      df_char.head())

#Some descriptive stats of the numeric variables
#it looks like height is an integer and not a float
#I'll examine that further in a bit
print("\n\nDescriptive stats of Character dataframe numeric variables: \n",
      df_char.describe())

#checking the variables' data types
#mass is an object, but should definitly be int or float
print("\n\nCharacter dataframe data types: \n",
     df_char.dtypes)

Character dataframe column names:
 Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'gender', 'homeworld', 'species'],
      dtype='object')


First 5 rows of character dataframe:
              name  height mass hair_color   skin_color eye_color birth_year  \
0  Luke Skywalker   172.0   77      blond         fair      blue      19BBY
1           C-3PO   167.0   75        NaN         gold    yellow     112BBY
2           R2-D2    96.0   32        NaN  white, blue       red      33BBY
3     Darth Vader   202.0  136       none        white    yellow    41.9BBY
4     Leia Organa   150.0   49      brown        light     brown      19BBY

   gender homeworld species
0    male  Tatooine   Human
1     NaN  Tatooine   Droid
2     NaN     Naboo   Droid
3    male  Tatooine   Human
4  female  Alderaan   Human


Descriptive stats of Character dataframe numeric variables:
            height
count   81.000000
mean   174.358025
std     34.770429
min     66.000000
25%    167.000000
50%    180.000000
75%    191.000000
max    264.000000


Character dataframe data types:
 name           object
height        float64
mass           object
hair_color     object
skin_color     object
eye_color      object
birth_year     object
gender         object
homeworld      object
species        object
dtype: object

In [35]:
#looking at the SW planets data

#column names look like they don't require any cleaning
print("Character dataframe column names: \n"
      , df_planet.columns)

#First 5 rows of the dataframe
print("\n\nFirst 5 rows of character dataframe: \n",
      df_planet.head())

#Some descriptive stats of the numeric variables
#it looks like numeric variables should be kept as floats
#we could probably round them a bit though
print("\n\nDescriptive stats of Character dataframe numeric variables: \n",
      df_planet.describe())

#checking the variables' data types
print("\n\nCharacter dataframe data types: \n",
     df_planet.dtypes)
#I don't think I understand enough about SW to understand the gravity bit

#the planets are the same as in the character dataframe
#so in theory we can connect those two together and play if we want

Character dataframe column names:
 Index(['name', 'rotation_period', 'orbital_period', 'diameter', 'climate',
       'gravity', 'terrain', 'surface_water', 'population'],
      dtype='object')


First 5 rows of character dataframe:
        name  rotation_period  orbital_period  diameter              climate  \
0  Alderaan             24.0           364.0   12500.0            temperate
1  Yavin IV             24.0          4818.0   10200.0  temperate, tropical
2      Hoth             23.0           549.0    7200.0               frozen
3   Dagobah             23.0           341.0    8900.0                murky
4    Bespin             12.0          5110.0  118000.0            temperate

                                  gravity                             terrain  \
0                              1 standard               grasslands, mountains
1                              1 standard                 jungle, rainforests
2                            1.1 standard  tundra, ice caves, mountain ranges
3                                     NaN                      swamp, jungles
4  1.5 (surface), 1 standard (Cloud City)                           gas giant

   surface_water    population
0           40.0  2.000000e+09
1            8.0  1.000000e+03
2          100.0           NaN
3            8.0           NaN
4            0.0  6.000000e+06


Descriptive stats of Character dataframe numeric variables:
        rotation_period  orbital_period       diameter  surface_water  \
count        48.000000       48.000000      44.000000      26.000000
mean         25.958333      577.625000   12388.340909      36.765385
std          11.185017      953.304904   17045.948720      38.831832
min           0.000000        0.000000       0.000000       0.000000
25%          22.750000      310.250000    7812.250000       5.000000
50%          25.000000      374.500000   11015.000000      16.000000
75%          27.000000      412.000000   13422.500000      67.500000
max          87.000000     5110.000000  118000.000000     100.000000

         population
count  4.300000e+01
mean   3.980003e+10
std    1.685799e+11
min    0.000000e+00
25%    1.050000e+07
50%    5.000000e+08
75%    3.750000e+09
max    1.000000e+12


Character dataframe data types:
 name                object
rotation_period    float64
orbital_period     float64
diameter           float64
climate             object
gravity             object
terrain             object
surface_water      float64
population         float64
dtype: object

In [36]:
#looking at the SW species data

#column names look like they don't require any cleaning
#I think I'll change average_height and average_lifespan tho to avg_height and avg_lifespan
print("Character dataframe column names: \n"
      , df_spec.columns)

#First 5 rows of the dataframe
print("\n\nFirst 5 rows of character dataframe: \n",
      df_spec.head())

#Some descriptive stats of the numeric variables
#it looks like average_hight can probably be an int
print("\n\nDescriptive stats of Character dataframe numeric variables: \n",
      df_spec.describe())

#checking the variables' data types
#average_lifespan is an object, but should definitly be int or float
print("\n\nCharacter dataframe data types: \n",
     df_spec.dtypes)


#we might be able to connect these data with the other using the color columns and homeworld

Character dataframe column names:
 Index(['name', 'classification', 'designation', 'average_height',
       'skin_colors', 'hair_colors', 'eye_colors', 'average_lifespan',
       'language', 'homeworld'],
      dtype='object')


First 5 rows of character dataframe:
              name classification designation  average_height  \
0            Hutt      gastropod    sentient           300.0
1  Yoda's species         mammal    sentient            66.0
2      Trandoshan        reptile    sentient           200.0
3    Mon Calamari      amphibian    sentient           160.0
4            Ewok         mammal    sentient           100.0

                 skin_colors          hair_colors            eye_colors  \
0          green, brown, tan                  NaN           yellow, red
1              green, yellow         brown, white  brown, green, yellow
2               brown, green                 none        yellow, orange
3  red, blue, brown, magenta                 none                yellow
4                      brown  white, brown, black         orange, brown

  average_lifespan        language  homeworld
0             1000         Huttese  Nal Hutta
1              900  Galactic basic        NaN
2              NaN            Dosh  Trandosha
3              NaN  Mon Calamarian   Mon Cala
4              NaN         Ewokese      Endor


Descriptive stats of Character dataframe numeric variables:
        average_height
count       34.000000
mean       172.852941
std         46.119826
min         66.000000
25%        170.000000
50%        180.000000
75%        190.000000
max        300.000000


Character dataframe data types:
 name                 object
classification       object
designation          object
average_height      float64
skin_colors          object
hair_colors          object
eye_colors           object
average_lifespan     object
language             object
homeworld            object
dtype: object

### So looking at the vehicles data below, I don't think there's a way to connect them to the data above without knowing who has what type of vehicle (which maybe I'll look into in the future, but not right now). So I think I'll connect the above three dataframes together, and then the bottom two

In [37]:
#looking at the SW spaceshipts data

#column names look like they don't require any cleaning
#I think I'll change max_atmosphering_speed to max_atmos_speed, 
#cost_in_credits to credits_cost, and starship_class to ship_class
print("Character dataframe column names: \n"
      , df_ships.columns)

#First 5 rows of the dataframe
print("\n\nFirst 5 rows of character dataframe: \n",
      df_ships.head())

#Some descriptive stats of the numeric variables
#it looks like average_hight can probably be an int
print("\n\nDescriptive stats of Character dataframe numeric variables: \n",
      df_ships.describe())

#checking the variables' data types
#average_lifespan is an object, but should definitly be int or float
print("\n\nCharacter dataframe data types: \n",
     df_ships.dtypes)


#we might be able to connect these data with the other using the color columns and homeworld

Character dataframe column names:
 Index(['name', 'model', 'manufacturer', 'cost_in_credits', 'length',
       'max_atmosphering_speed', 'crew', 'passengers', 'cargo_capacity',
       'consumables', 'hyperdrive_rating', 'MGLT', 'starship_class'],
      dtype='object')


First 5 rows of character dataframe:
                            name                            model  \
0                      Executor  Executor-class star dreadnought
1  Sentinel-class landing craft     Sentinel-class landing craft
2                    Death Star      DS-1 Orbital Battle Station
3             Millennium Falcon          YT-1300 light freighter
4                        Y-wing                       BTL Y-wing

                                        manufacturer  cost_in_credits  length  \
0                 Kuat Drive Yards, Fondor Shipyards     1.143350e+09   19000
1            Sienar Fleet Systems, Cyngus Spaceworks     2.400000e+05      38
2  Imperial Department of Military Research, Sien...     1.000000e+12  120000
3                  Corellian Engineering Corporation     1.000000e+05   34.37
4                             Koensayr Manufacturing     1.349990e+05      14

  max_atmosphering_speed      crew  passengers  cargo_capacity consumables  \
0                    NaN  279144.0     38000.0    2.500000e+08     6 years
1                   1000       5.0        75.0    1.800000e+05     1 month
2                    NaN  342953.0    843342.0    1.000000e+12     3 years
3                   1050       4.0         6.0    1.000000e+05    2 months
4                 1000km       2.0         0.0    1.100000e+02      1 week

   hyperdrive_rating  MGLT                   starship_class
0                2.0  40.0                 Star dreadnought
1                1.0  70.0                    landing craft
2                4.0  10.0  Deep Space Mobile Battlestation
3                0.5  75.0                  Light freighter
4                1.0  80.0              assault starfighter


Descriptive stats of Character dataframe numeric variables:
        cost_in_credits           crew     passengers  cargo_capacity  \
count     2.600000e+01      36.000000      33.000000    2.900000e+01
mean      3.852734e+10   19020.166667   33900.696970    3.463580e+10
std       1.961028e+11   72666.512515  147643.450705    1.856674e+11
min       3.570000e+04       1.000000       0.000000    4.000000e+01
25%       1.697500e+05       1.000000       0.000000    1.100000e+02
50%       2.800000e+05       4.500000      10.000000    8.000000e+04
75%       5.650000e+07     181.250000     600.000000    1.900000e+07
max       1.000000e+12  342953.000000  843342.000000    1.000000e+12

       hyperdrive_rating        MGLT
count          35.000000   17.000000
mean            1.585714   67.705882
std             1.139438   30.209197
min             0.500000   10.000000
25%             1.000000   50.000000
50%             1.000000   70.000000
75%             2.000000   91.000000
max             6.000000  120.000000


Character dataframe data types:
 name                       object
model                      object
manufacturer               object
cost_in_credits           float64
length                     object
max_atmosphering_speed     object
crew                      float64
passengers                float64
cargo_capacity            float64
consumables                object
hyperdrive_rating         float64
MGLT                      float64
starship_class             object
dtype: object

In [38]:
#looking at the SW spaceshipts data

#column names look like they don't require any cleaning
#I think I'll change max_atmosphering_speed to max_atmos_speed, 
#cost_in_credits to credits_cost, and starship_class to ship_class
print("Character dataframe column names: \n"
      , df_vcl.columns)

#First 5 rows of the dataframe
print("\n\nFirst 5 rows of character dataframe: \n",
      df_vcl.head())

#Some descriptive stats of the numeric variables
#it looks like average_hight can probably be an int
print("\n\nDescriptive stats of Character dataframe numeric variables: \n",
      df_vcl.describe())

#checking the variables' data types
#average_lifespan is an object, but should definitly be int or float
print("\n\nCharacter dataframe data types: \n",
     df_vcl.dtypes)


#we might be able to connect these data with the other using the color columns and homeworld

Character dataframe column names:
 Index(['name', 'model', 'manufacturer', 'cost_in_credits', 'length',
       'max_atmosphering_speed', 'crew', 'passengers', 'cargo_capacity',
       'consumables', 'vehicle_class'],
      dtype='object')


First 5 rows of character dataframe:
                  name                           model  \
0        Sand Crawler                  Digger Crawler
1      T-16 skyhopper                  T-16 skyhopper
2    X-34 landspeeder                X-34 landspeeder
3  TIE/LN starfighter  Twin Ion Engine/Ln Starfighter
4         Snowspeeder                 t-47 airspeeder

                  manufacturer  cost_in_credits  length  \
0  Corellia Mining Corporation         150000.0    36.8
1            Incom Corporation          14500.0    10.4
2         SoroSuub Corporation          10550.0     3.4
3         Sienar Fleet Systems              NaN     6.4
4            Incom corporation              NaN     4.5

   max_atmosphering_speed  crew  passengers cargo_capacity consumables  \
0                    30.0    46        30.0          50000    2 months
1                  1200.0     1         1.0             50           0
2                   250.0     1         1.0              5         NaN
3                  1200.0     1         0.0             65      2 days
4                   650.0     2         0.0             10        none

   vehicle_class
0        wheeled
1  repulsorcraft
2  repulsorcraft
3    starfighter
4     airspeeder


Descriptive stats of Character dataframe numeric variables:
        cost_in_credits      length  max_atmosphering_speed        crew  \
count        21.000000   38.000000               38.000000   39.000000
mean      70008.333333   20.466842             1012.131579    8.179487
std       99279.640830   39.306859             3191.612032   23.512451
min        2500.000000    1.500000               30.000000    0.000000
25%        8000.000000    3.885000              100.000000    1.000000
50%       15000.000000    9.550000              380.000000    1.000000
75%       75000.000000   16.825000              815.000000    4.000000
max      350000.000000  210.000000            20000.000000  140.000000

       passengers
count   38.000000
mean    36.973684
std    102.298843
min      0.000000
25%      0.000000
50%      1.000000
75%     13.500000
max    500.000000


Character dataframe data types:
 name                       object
model                      object
manufacturer               object
cost_in_credits           float64
length                    float64
max_atmosphering_speed    float64
crew                        int64
passengers                float64
cargo_capacity             object
consumables                object
vehicle_class              object
dtype: object